*{
    margin: none;
    font-family: Inter;
}
.SaylaniButtons{
    border-radius: 0.9375rem;
    background: #61B846;
    box-shadow: 0px 4px 4px 5px #D4D3D3;
    width: 15.75rem;
    height: 4.3125rem;
    padding: 10px;
    color: white;
    border: none;
}
#startLogo , #SignUp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.linkInButton{
    color: #FFF;
font-family: Inter;
font-size: 1.875rem;
font-style: normal;
font-weight: 700;
line-height: 1.5625rem; /* 83.333% */
    text-decoration: none; 
    
}
#indexPage , #signupPage{
    display: block;
    text-align: center;
}

#SW{
    margin: 0;
    font-size: 3em;
    color: #61B846;
}
#OMP{
    margin: 0;
    font-size: 1.5em;
    color: #024F9D;

}

.green{
    margin: 0;
    font-size: 3em;
    color: #61B846;
    font-size: 2.4375rem;

}
.blue{
    margin: 0;
    font-size: 3em;
    color: #024F9D;
    font-size: 1.75rem;
   

}

.inputField{
    justify-content: center;
    display: flex;
    border: none;
    display: block;
    padding: 10px;
    font: 1.5em;
    width: 48%;
    margin-right: 0px;
}

.sin{
    text-decoration: none;
    text-align: center;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem; 
    color: #024F9D;
    
}
.inputs{
  width: 50%;
  
}
.icons{
    float: right;
    padding-top: 10px;
    width: 2.125rem;
    height: 2.2875rem;
    opacity: 0.2;
}

#cart{
    float: right;
    width: 3rem;
    height:2.5625rem;

}
#grocery{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 63.5rem;
    height: 33.625rem;
    border-radius: 0.9375rem;
}
#searchbar{
  margin: auto;
  width: 50%;
   display: flex;
   width: 50%;
   width: 23.5rem;
   height: 2.125rem;
   background-color: rgba(217, 217, 217, 0.75);
   opacity: 0.8;
   border-radius: 10px;
   margin-top: 10px;
}
.in{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid  #D4D3D3;
}
#searchIcon{
    padding: 4px;
    width: 22px;
    height: 22px;
    opacity: 0.3;
}
#searchInput{
    background-color: rgba(217, 217, 217, 0.75);
    border: none;
    color: #BFBCBC;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 

}
.bl{
    
    height: 1.5625rem;
    color: #000;
    font-family: Inter;
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem; 
}
.items, .products{
    display: flex;
}
.item, .product{
    margin-left: 95px;
}
.isize{
width: 135px;
height: 99px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #61B846;
}
.itext{
    color: #2DB34A;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 25px;
}

#addButton{
width: 58px;
height: 40px;
flex-shrink: 0;
border-radius: 10px;
background: #61B846;
color: #FFF;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 25px;
}
.addtext{
width: 240px;
height: 30px;
color: #BFBFBF;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12px;
}
.navbar{
    width: 50%;
    margin: auto;
    padding: 40px  0px 140px 40px;
    background-color: white;
    
}
.navul{
    align-items: center;
    
}
.navli{
    padding: 40px;
    display: inline;
    list-style: none;
}