*{
    margin: none;
    font-family: Inter;
}

.ShoppingCart{
border-radius: 2.1875rem;
background: #FFF;
box-shadow: 0px 2px 12px 3px #61B846;
backdrop-filter: blur(25px);
text-align: center;
align-items: center;
margin: auto;
width: 50%;
padding: 20px;
width: 430px;
height: 632px;
}


.SaylaniButtons{
    
    border-radius: 0.9375rem;
    background: #61B846;
    box-shadow: 0px 4px 4px 5px #D4D3D3;
    width: 15.75rem;
    height: 4.3125rem;
    padding: 10px;
    color: white;
    border: none;
}
#startLogo , #SignUp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.linkInButton{
    color: #FFF;
font-family: Inter;
font-size: 1.875rem;
font-style: normal;
font-weight: 700;
line-height: 1.5625rem; /* 83.333% */
    text-decoration: none; 
    
}
#indexPage , #signupPage{
    display: block;
    text-align: center;
}

#SW{
    margin: 0;
    margin-top: 10%;
    font-size: 3em;
    color: #61B846;
}
#OMP{
    margin: 0;
    font-size: 1.5em;
    color: #024F9D;

}
.inputField{
    justify-content: center;
    display: flex;
    border: none;
    display: block;
    padding: 10px;
    font: 1.5em;
    width: 48%;
    margin-right: 0px;
}
.inputField:focus{
    border: none;
}
.sin{
    text-decoration: none;
    text-align: center;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem; 
    color: #024F9D;
}
.icons{
    float: right;
    padding-top: 10px;
    width: 2.125rem;
    height: 2.2875rem;
    opacity: 0.2;
}

.in{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid  #D4D3D3;
}
